@import "tailwindcss";

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.16376 0 0);

    --primary: oklch(0.67153 0.16411 274.56097);
    --primary-foreground: oklch(0.31351 0.10239 260.66372);

    --secondary: oklch(0.75 0.18 290);
    --secondary-foreground: oklch(0.36331 0.17018 300.51915);

    --muted: oklch(0.87302 0 0);
    --muted-foreground: oklch(0.55553 0 0);

    --accent: oklch(0.77569 0.14162 55.75339);
    --accent-foreground: oklch(0.45744 0.12116 44.76592);

    --destructive: oklch(0.65809 0.19363 12.24604);
    --destructive-foreground: oklch(0.40451 0.14773 26.97093);

    --success: oklch(0.6 0.22 150);
    --warning: oklch(0.57471 0.17717 40.89418);

    --border: oklch(0.77627 0 0);
}

.dark {
    --background: oklch(0.13038 0.02329 246.38471);
    --foreground: oklch(0.92191 0 0);

    --primary: oklch(0.33124 0.10153 254.56621);
    --primary-foreground: oklch(0.91547 0.04041 267.10644);

    --secondary: oklch(0.6 0.22 290);
    --secondary-foreground: oklch(0 0 0);

    --muted: oklch(0.20277 0.01603 256.83929);
    --muted-foreground: oklch(0.67741 0.05464 253.06071);

    --accent: oklch(0.83858 0.17142 90.82562);
    --accent-foreground: oklch(0.33607 0.06966 99.06071);

    --destructive: oklch(0.4768 0.18881 20.42179);
    --destructive-foreground: oklch(0.82076 0.10058 19.4492);

    --success: oklch(0.60127 0.198 141.04553);
    --warning: oklch(0.85 0.35 80);

    --border: oklch(0.29313 0 0);
}